.lander {
  height: 100vh;
  width: 20%;
  padding: 40px 40px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.lander #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: static;
  top: 40px;
}

.lander #links a {
  color: black;
  font-size: 1em;
  line-height: 1.618;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.lander #links a:hover {
  color: #3725d3;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.contact h1 {
  font-size: 8em;
  font-weight: 400;
  margin: 0 0 60px 0;
  line-height: 1;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 800px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact form label {
  margin-bottom: 14px;
}

.contact form .textbox {
  background: rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 1em;
  padding: 16px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  outline: none;
  margin-bottom: 40px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.contact form .textbox:focus {
  border: 2px solid black;
}

.contact form .textbox::-webkit-input-placeholder {
  color: black;
}

.contact form .textbox:-ms-input-placeholder {
  color: black;
}

.contact form .textbox::-ms-input-placeholder {
  color: black;
}

.contact form .textbox::placeholder {
  color: black;
}

.contact form textarea {
  height: 400px;
  resize: vertical;
}

.contact form textarea:focus {
  height: 403px;
}

.contact form .send {
  color: white;
  font-size: 1em;
  text-decoration: none;
  border: none;
  border-radius: 0;
}

.contact h2 {
  font-size: 1.5em;
  margin: 60px 0 40px 0;
}

.contact h2 a {
  color: #3725d3;
  border-bottom: 2px solid #3725d3;
}

@media screen and (max-width: 1200px) {
  .lander {
    display: none;
  }
  .contact h1 {
    font-size: 6em;
  }
}

@media screen and (max-width: 900px) {
  .contact h1 {
    font-size: 3em;
  }
}
/*# sourceMappingURL=contact.css.map */