$bg: white;
$black: black;
$accent: #3725d3;

.lander {
    height: 100vh;
    width: 20%;
    padding: 40px 40px 0 40px;
    box-sizing: border-box;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    #links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: static;
        top: 40px;
        a {
            color: $black;
            font-size: 1em;
            line-height: 1.618;
            transition-duration: .4s;
            &:hover {
                color: $accent;
            }
        }
    }
}
section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 160px 0 160px 20%;
    box-sizing: border-box;
    padding-right: 80px;
}
.top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 200px 0 200px 20%;
    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        h1 {
            font-size: 6vw;
            font-weight: 400;
            margin: 0 0 40px 0;
        }
        h2 {
            margin-bottom: 10px;
        }
        .p {
            font-size: 1.5em;
            line-height: 1.618;
            width: 80%;
            margin-left: 20%;
            b {
                font-weight: 700;
            }
        }
    }
}
.banner {
    width: calc(80% - 80px);
    margin-left: 20%;
    height: 30vw;
    background: url(../img/PLTW.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .text {
        color: $accent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        max-width: 1000px;
        text-align: left;
        h2 {
            font-size: 4em;
            margin: 0 0 40px 0;
        }
        p {
            line-height: 1.618;
            font-size: 1em;
            margin: 0;
        }
        h3 {
            font-size: 1.5em;
            line-height: 1.618;
            margin: 0;
            margin-bottom: 40px;
        }
    }
}
.section2 {
    .text {
        max-width: 1000px;
        h2 {
            font-size: 5em;
            margin: 0 0 40px 0;
        }
        h3 {
            font-size: 2em;
            margin-bottom: 14px;
        }
        p {
            line-height: 1.618;
            font-size: 1em;
            margin: 0;
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .lander {
        display: none;
    }
    section {
        width: calc(100vw - 160px);
        margin: 160px 80px;
        padding: 0;
    }
    .top {
        margin: 200px 80px;
    }
    .banner {
        width: calc(100% - 160px);
        margin-left: 80px;
        height: 30vw;
    }
    .top .row2 {
        padding-right: 0;
    }
    .top {
        .text {
            h1 {
                font-size: 7vw;
            }
            p{
                font-size: 1.3em;
            }
        }
    }
    .section2 {
        .col {
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .section3 {
        padding-right: 0;
    }
}


@media screen and (max-width: 800px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: calc(100vw - 60px);
        margin: 160px 30px;
    }
    .top {
        margin: 200px 30px;
        .text {
            h1 {
                font-size: 3em;
                font-weight: 400;
                margin: 0 0 40px 0;
            }
            h2 {
                margin-bottom: 10px;
            }
            .p {
                font-size: 1.25em;
                width: 100%;
                margin-left: 0;
            }
        }
    }
    .banner {
        width: calc(100% - 60px);
        margin-left: 30px;
        height: 40vw;
    }
    .section {
        .text {
            h2 {
                font-size: 2em;
            }
        }
    }
    .section2 {
        .text {
            max-width: 1000px;
            h2 {
                font-size: 3em;
                margin: 0 0 40px 0;
            }
            h3 {
                font-size: 1.5em;
                margin-bottom: 14px;
            }
            p {
                line-height: 1.618;
                font-size: 1em;
                margin: 0;
                margin-bottom: 40px;
            }
        }
    }
}