$bg: white;
$black: black;
$accent: #3725d3;
.content {
    width: calc(100vw - 160px);
    padding: 80px;
}

.lander {
    color: $accent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    #landerimg {
        background-image: url('../img/Unsplash\ Drawing.jpg');
        background-size: cover;
        background-position: center;
        width: calc(50% - 80px);
        height: calc(100vh - 80px - 80px - 80px);
    }
    .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        h1 {
            font-size: 4.5vw;
            font-weight: 400;
            margin: 0 0 40px 0;
        }
        h2 {
            margin-bottom: 10px;
        }
        .p {
            //margin-bottom: 40px;
            font-size: 1em;
            line-height: 1.618;
            b {
                font-weight: 700;
            }
        }
    }
}
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 120px 0 0px 0;
    .text {
        color: $accent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        text-align: center;
        h2 {
            font-size: 3em;
            margin: 0 0 40px 0;
        }
        p {
            line-height: 1.618;
            font-size: 1em;
            margin: 0;
        }
        h3 {
            font-size: 1.5em;
            line-height: 1.618;
            margin: 0;
            margin-bottom: 40px;
        }
    }
}
.section2 {
    padding: 120px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: $accent;
    text-align: center;
    .text {
        max-width: 1000px;
        h2 {
            font-size: 5em;
            margin: 0 0 40px 0;
        }
        h3 {
            font-size: 2em;
            margin-bottom: 6px;
        }
        p {
            line-height: 1.618;
            font-size: 1em;
            margin: 0;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .content {
        width: calc(100vw - 60px);
        padding: 30px;
    }
    .lander {
        color: $accent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 160px 0 40px 0;
        box-sizing: border-box;
        height: auto;
        #landerimg {
            width: 100%;
            margin-top: 40px;
            height: 400px;
        }
        .text {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            h1 {
                font-size: 3em;
                font-weight: 400;
                margin: 0 0 40px 0;
            }
            .p {
                margin-bottom: 40px;
                font-size: 1em;
                line-height: 1.618;
                b {
                    font-weight: 700;
                }
            }
        }
    }
    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 120px 0 0px 0;
        .text {
            color: $accent;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            max-width: 1000px;
            text-align: left;
            h2 {
                font-size: 2em;
                margin: 0 0 40px 0;
            }
            p {
                line-height: 1.618;
                font-size: 1em;
                margin: 0;
            }
            h3 {
                font-size: 1.25em;
                line-height: 1.618;
                margin: 0;
                margin-bottom: 120px;
            }
        }
    }
    .section2 {
        .text {
            text-align: left;
            h2 {
                font-size: 4em;
                margin: 0 0 40px 0;
            }
            h3 {
                font-size: 1.5em;
                margin-bottom: 10px;
            }
            p {
                line-height: 1.618;
                font-size: 1em;
                margin: 0;
                margin-bottom: 30px;
            }
        }
    }
}