$bg: white;
$dark: #232423;
$accent: black;
@media screen and (min-width: 1050px) {
    header {
        position: fixed;
        height: 80px;
        width: 100%;
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 3;
        background: rgba(214,221,255,.65);
        backdrop-filter: blur(25px);

        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            .logo-header {
                font-size: 30px;
                color: $accent;
                font-weight: 450;
                padding: 0 30px;
            }

            #header-links {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                a {
                    color: $accent;
                    text-decoration: none;
                    margin-right: 60px;
                    font-size: 1em;
                    line-height: 1;
                    font-weight: 400;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition-duration: .4s;
                    &:hover {
                        opacity: .5;
                    }
                }
            }
            #contact-input {
                position: absolute;
                top: -20px;
            }
            #contact-button {
                padding: 0 60px;
                height: 80px;
                width: 80px;
                color: $bg;
                background: $accent;
                text-decoration: none;
                font-size: 1em;
                line-height: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    cursor: pointer;
                }
            }
            #contact {
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                width: 100%;
                top: 0;
                left: 0;
                background: $bg;
                border: 1px solid $dark;
                opacity: 0;
                transform: scale(0);
                transition-duration: .6s;
                transition-timing-function: cubic-bezier(.64,0,.31,1);
                h2 {
                    font-size: 2em;
                    line-height: 1;
                    font-weight: 400;
                }
                h1 {
                    font-size: 8vw;
                    font-weight: 400;
                    line-height: 1;
                    margin-bottom: 40px;
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    a {
                        color: $dark;
                        text-decoration: none;
                        font-size: 1em;
                        padding: 18px 30px;
                        background: $bg;
                        margin-right: 20px;
                        border: 1px solid $dark;
                        &:last-child {
                            margin: 0;
                        }
                        &:hover {
                            border: 1px solid $accent;
                            background: $accent;
                            color: $bg;
                        }
                    }
                }
                #exit {
                    position: fixed;
                    top: 0;
                    right: 0;
                    padding: 30px;
                    background: $accent;
                    img {
                        height: 40px;
                        width: 40px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            #contact-input:checked ~ #contact {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .menu-icon {
        display: none;
    }
    #checkbox {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    ::-webkit-scrollbar {
        display: none;
    }
    header {
        position: fixed;
        height: 50px;
        top: 0;
        background: $bg;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 3;
    
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .logo-header {
                font-size: 26px;
                color: $accent;
                font-weight: 450;
                padding: 0 30px;
            }
    
            #header-links {
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to bottom, $bg,$bg);
                height: 100vh;
                width: 100vw;
                top: 0;
                right: -101vw;
                z-index: 5;
                opacity: 1;
                transition-duration: .6s;
                transition-timing-function: cubic-bezier(.64,0,.31,1);
                padding: 100px 0;
                box-sizing: border-box;
                a {
                    font-size: 2em;
                    width: 100%;
                    height: calc(100vh / 3);
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $accent;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            #design-brief {
                display: none;
            }
            #contact-input {
                display: none;
            }
            #contact-button {
                display: none;
            }
            #contact {
                display: none;
            }
        }
    }
    .menu-icon {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        height: 50px;

        img {
            height: 30px;
            width: 30px;
            padding: 10px 30px;
        }
    }
    #checkbox {
        position: fixed;
        top: -20px;
    }
    .checkbox:checked ~ #header-links {
        opacity: 1;
        right: 0;
    }
}