$bg: white;
$black: black;
$accent: #3725d3;

.lander {
    height: 100vh;
    width: 100%;
    padding: 40px 40px 0 40px;
    box-sizing: border-box;
    z-index: 0;
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 1;
        h1 {
            font-size: 6vw;
            line-height: 1;
            margin-bottom: 40px;
            font-family: "Spezia-SemiBold";
        }
        #links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: static;
            top: 40px;
            a {
                color: $black;
                font-size: 1em;
                line-height: 1.618;
                transition-duration: .4s;
                &:hover {
                    color: $accent;
                }
            }
        }
    }
    .image {
        z-index: -1;
        background-size: cover;
        width: 80%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 0;
        right: 0;
        transition-duration: .5s;
        opacity: 0;
        filter: opacity(.75);
    }
    #landerimg0 {
        opacity: 1;
    }
    .buttons {
        position: absolute;
        height: 80px;
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        padding: 0 40px;
        div {
            height: 8px;
            width: 8px;
            background: none;
            border: 2px solid black;
            transition-duration: .4s;
            margin-right: 30px;
            &:hover {
                background: black;
                cursor: pointer;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .selected {
            background: black;
        }
    }
    .p {
        z-index: 1;
        width: 400px;
        position: absolute;
        top: 40px;
        right: 40px;
        font-family: "Spezia-SemiBold";
    }
}
.students {
    position: absolute;
    width: 400px;
    text-align: center;
    padding: 40px;
    background: rgba(55, 37, 211, 0.65);
    backdrop-filter: blur(13px);
    bottom: 120px;
    right: 40px;
    h2 {
        line-height: 1.15;
        margin-bottom: 14px;
        color: $bg;
    }
    p {
        line-height: 1.5;
        color: $bg;
        b {
            color: $bg;
            text-decoration: underline;
        }
    }
}
section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 100px 0 100px 20%;

    h2 {
        font-size: 4em;
        margin-bottom: 40px;
        font-family: "Spezia-SemiBold";
    }
    p {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 40px;
        max-width: 800px;
    }
    div {
        display: inline-block;
        column-count: 2;
        width: 80%;
        margin-bottom: 40px;
        h3 {
            font-size: 2em;
            line-height: 1.25;
        }
    }
}
.donate {
    a {
        background: linear-gradient(110deg, $accent, $black);
        box-sizing: border-box;
        padding: 80px;
        color: $bg;
        font-size: 3em;
        transition-duration: .4s;
        border-radius: 15px;
        p {
            color: $bg;
            font-size: 0.33em;
            margin: 0;
            margin-top: 20px;
        }
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 20px 40px -20px black;
        }
    }
}

@media screen and (max-width: 1200px) {
    .lander {
        height: auto;
        width: 100%;
        padding: 90px 0 0 0;
        box-sizing: border-box;
        z-index: 0;
        .text {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            z-index: 1;
            h1 {
                text-align: center;
                font-size: 9vw;
                line-height: 1;
                padding: 50px 0 30px 0;
                margin-bottom: 40px;
                font-family: "Spezia-SemiBold";
            }
            #links {
                display: none;
            }
        }
        .image {
            z-index: -1;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
            position: relative;
            top: 0px;
            bottom: 80px;
            right: 0;
            opacity: 0;
            filter: opacity(1);
        }
        #landerimg0 {
            opacity: 1;
            top: 0px;
        }
        #landerimg6 {
            top: -400px;
        }
        #landerimg1 {
            top: -800px;
        }
        #landerimg2 {
            top: -1200px;
        }
        #landerimg3 {
            top: -1600px;
        }
        #landerimg4 {
            top: -2000px;
        }
        #landerimg5 {
            top: -2400px;
            margin-bottom: -2400px;
        }
        .buttons {
            position: static;
            height: 80px;
            width: 100vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            bottom: 0;
            right: 0;
            box-sizing: border-box;
            padding: 0 40px;
        }
        .p {
            z-index: 1;
            width: 100%;
            position: static;
            text-align: center;
            top: 0;
            right: 0;
            margin: 0 auto;
            padding: 60px 30px;
            padding-top: 0;
            box-sizing: border-box;
            font-family: "Spezia-SemiBold";
            //margin-bottom: 400px;
            font-size: .9em;
        }
    }
    .students {
        display: none;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: calc(100vw - 60px);
        margin: 100px 30px;
    
        h2 {
            font-size: 3em;
            margin-bottom: 40px;
            font-family: "Spezia-SemiBold";
        }
        p {
            font-size: 1em;
            line-height: 1.5;
            margin-bottom: 40px;
            max-width: 800px;
        }
        div {
            display: inline-block;
            column-count: 1;
            width: 80%;
            margin-bottom: 40px;
            h3 {
                font-size: 1.5em;
                line-height: 1.1;
                padding-bottom: 14px;
            }
        }
    }
    .donate {
        a {
            padding: 40px;
            font-size: 2em;
            line-height: 1;
            p {
                font-size: 0.5em;
            }
        }
    }
}