$bg: white;
$dark: #232423;
$accent: black;

.lander {
    height: 100vh;
    width: 100%;
    padding: 40px 40px 0 40px;
    box-sizing: border-box;
    z-index: 0;
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 1;
        h1 {
            font-size: 3em;
            line-height: 1;
            margin-bottom: 40px;
            font-family: "Spezia-SemiBold";
        }
        #links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: static;
            top: 40px;
            a {
                color: $accent;
                font-size: 2vw;
                line-height: 1;
            }
        }
    }
    #landerimg {
        z-index: -1;
        background-image: url('../img/tsa\ image.jpg');
        background-size: cover;
        width: 80%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 0;
        right: 0;
    }
    .buttons {
        position: absolute;
        height: 80px;
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        padding: 0 40px;
        .button1 {
            height: 8px;
            width: 8px;
            background: $accent;
            margin-right: 30px;
            border: 2px solid black;
        }
        .button2 {
            height: 8px;
            width: 8px;
            background: none;
            border: 2px solid black;
        }
    }
    .p {
        z-index: 1;
        width: 400px;
        position: absolute;
        top: 40px;
        right: 40px;
        font-family: "Spezia-SemiBold";
    }
}
section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 100px 0 100px 20%;

    h2 {
        font-size: 4em;
        margin-bottom: 40px;
        font-family: "Spezia-SemiBold";
    }
    p {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 40px;
        max-width: 800px;
    }
    div {
        display: inline-block;
        column-count: 2;
        width: 80%;
        margin-bottom: 40px;
        h3 {
            font-size: 2em;
            line-height: 1.25;
        }
    }
}