.button {
  color: #D6DDFF;
  font-size: 1em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 35px;
  background: #1C5CDE;
  border: 2px solid #1C5CDE;
  border-radius: 0 10px 0 10px;
}

.button:hover {
  background: none;
  color: #1C5CDE;
}

.content {
  width: calc(100% - 160px);
  padding: 80px;
}

.lander {
  color: #1C5CDE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

.lander #landerimg {
  background-image: url("../img/marvin closeup.jpg");
  background-size: cover;
  background-position: right;
  width: calc(60% - 80px);
  height: 600px;
}

.lander .text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lander .text h1 {
  font-size: 5vw;
  font-weight: 400;
  margin: 0 0 40px 0;
}

.lander .text .p {
  margin-bottom: 40px;
  font-size: 1em;
  line-height: 1.618;
}

hr {
  border: 1px solid #232423;
  width: 100%;
  margin: 0;
}

#donate {
  margin: 80px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  color: #232423;
}

#donate a {
  color: white;
  background: #1C5CDE;
  padding: 6px 14px;
  text-decoration: none;
  margin-right: 10px;
  font-style: italic;
}

#whatistsa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 80px 0;
  color: #1C5CDE;
  margin: 0;
}

#whatistsa .part1 {
  width: calc(50% - 70px);
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#whatistsa .part1 h2 {
  margin-bottom: 30px;
  font-size: 90px;
  margin-top: 0;
}

#whatistsa .part1 p {
  margin-bottom: 40px;
  font-size: 1em;
  line-height: 1.618;
}

#whatistsa .part2 {
  width: 50%;
}

#whatistsa .part2 p {
  text-align: center;
  font-size: 56;
  line-height: 1;
  margin: 0;
  line-height: 1.618;
}

#activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #1C5CDE;
  padding: 80px 0;
}

#activities .part1 {
  width: calc(50% - 70px);
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#activities .part1 h2 {
  margin-bottom: 30px;
  font-size: 90px;
  margin-top: 0;
}

#activities .part1 p {
  margin-bottom: 40px;
  font-size: 1em;
  line-height: 1.618;
}

#activities .part2 {
  width: calc(50%);
}

#activities .part2 img {
  width: 100%;
}

.bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1C5CDE;
  color: #D6DDFF;
  height: 60px;
  font-size: 14px;
}
/*# sourceMappingURL=home.css.map */