$bg: #D6E4FF;
$dark: #232423;
$accent: #558BFF;
.button {
    color: $dark;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 0 12px 0;
    border-bottom: 2px solid $dark;
    width: 150px;
    img {
        height: 15px;
        width: 24px;
        margin-left: 10px;
    }
    &:hover {
        background: $accent;
        padding: 14px 24px 12px 24px;
    }
}

.lander {
    color: $dark;
    height: calc(100vh - 160px);
    padding: 80px;
    width: calc(100% - 160px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 7vw auto;
    grid-gap: 80px;
    .t {
        font-size: 6vw;
        font-weight: 400;
        grid-area: 1 / 1 / 1 / 4;
        margin: 20px 0 0 0;
    }
    #landerimg {
        background-image: url('../img/marvin\ closeup.jpg');
        background-size: cover;
        background-position: right;
        grid-area: 2 / 1 / 2 / 3;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .p {
            margin-bottom: 40px;
            font-size: 1em;
            line-height: 1.618;
        }
    }
}
hr {
    border: 1px solid $dark;
    width: 100%;
    margin: 0;
}
#donate {
    margin: 80px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: $dark;
    a {
        color: white;
        background: $accent;
        padding: 6px 14px;
        text-decoration: none;
        margin-right: 10px;
        font-style: italic;
    }
}
#whatistsa {
    display: flex;
    flex-direction: row;
    padding: 80px;
    width: calc(100% - 160px);
    color: $dark;
    .part1 {
        width: calc(50% - 70px);
        margin-right: 70px;

        h2 {
            margin-bottom: 30px;
            font-size: 90px;
        }
        p {
            margin-bottom: 22px;
            font-size: 1em;
            line-height: 1.618;
        }
    }
    .part2 {
        p {
            font-size: 56;
            line-height: 1;
        }
    }
}
#activities {
    display: flex;
    flex-direction: row;
    padding: 80px;
    width: calc(100% - 160px);

    .part1 {
        width: calc(50% - 70px);
        margin-right: 70px;
        color: $dark;

        h2 {
            margin-bottom: 30px;
            font-size: 90px;
        }
        p {
            margin-bottom: 22px;
            font-size: 1em;
            line-height: 1.618;
        }
    }
    .part2 {
        width: calc(50%);
        img {
            width: 100%;
        }
    }
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark;
    height: 60px;
    font-size: 14px;
}