$light: #fbc7d4;
$mid: #9796f0;
$dark: black;

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    background-color: $light;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background: $dark;
    color: $light;
}

.transition {
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h2 {
    font-size: 5em;
    line-height: 1;
    color: $dark;
}
p {
    font-size: 1em;
    line-height: 1.618;
    color: $dark;
}
a {
    color: $dark;
    text-decoration: none;
}

#cursor {
    top: -100px;
    z-index: 10000;
    -webkit-transition-duration: .6s;
            transition-duration: .6s;
    transition-timing-function: cubic-bezier(0,0,.25,1);
    position: fixed !important;
    height: 50px;
    width: 50px;
    border: 2px solid $dark;
    border-radius: 50%;
    pointer-events: none;
}

.button {
    color: $dark;
    font-size: 1.1em;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
    border-bottom: 2px solid $dark;
    width: 132px;

    img {
        height: 15px;
        width: 24px;
        margin-left: 10px;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.2);
        padding: 12px 30px;
    }
}

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: linear-gradient(to bottom, $light,$mid); border-left: 1px solid $dark; }
::-webkit-scrollbar-thumb { background: $dark; }

#bg {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: linear-gradient(to bottom, $light, $mid);
    z-index: -1;
}

header {
    position: fixed;
    height: 60px;
    background-color: $light;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $dark;
    z-index: 2;

    div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .logo_header {
            height: 26px;
            margin: 0 18px;
        }

        #header-links {
            display: flex;
            flex-direction: row;

            a {
                color: $dark;
                text-decoration: none;
                margin: 0 20px;
                padding: 22px 0;
                font-size: 1em;
                line-height: 1;
                font-weight: 400;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-bottom: $light 0px solid;
                border-top: $light 0px solid;
            }
            :hover {
                padding: 18px 0;
                border-bottom: $dark 4px solid;
                border-top: $light 4px solid;
                color: $dark;
            }
        }
        #design-brief {
            border-left: 1px solid $dark;
            padding: 22px;
            width: 140px;
            text-align: center;
            color: $dark;
            text-decoration: none;
            font-size: 1em;
            line-height: 1;
            font-style: italic;

            &:hover {
                background: rgba(0, 0, 0, 0.15);
            }
        }
    }
}

.lander {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 0;
    border-bottom: 1px solid $dark;

    .text {
        color: $dark;
        padding: 80px;

        .t {
            font-size: 22vw;
            font-weight: 700;
            line-height: 1;
        }
        .p {
            font-size: 1em;
            width: 600px;
            margin-bottom: 36px;
            b {
                font-size: 1em;
                font-weight: 600;
            }
        }
    }
}

.content {
    width: 80vw;
    margin: 0 auto;
}

hr {
    width: 100vw;
    border-bottom: 1px solid $dark;
    border-top: none;
    position: relative;
    left: -10vw;
}
section {
    margin: 80px 0;
}
#donate {
    margin: 30px 0;
    P {
        text-align: center;
        font-size: 1.5em;
        margin: 0 auto;
        line-height: 1.4;
        a {
            font-style: italic;
            padding: 0 12px 0 10px;
            margin-right: 6px;
            background: $dark;
            color: $light;
            &:hover {
                opacity: .8;
            }
        }
    }
}
#whatistsa {
    display: flex;
    flex-direction: row;
    .part1 {
        width: calc(50% - 70px);
        margin-right: 70px;

        h2 {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 22px;
        }
    }
    .part2 {
        p {
            font-size: 3em;
            line-height: 1.2;
        }
    }
}

.bottom {
    width: 100vw;
    color: $dark;
    padding: 14px;
    text-align: center;
}