html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.transition {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
}

.button {
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
  border-bottom: 2px solid white;
  width: 124px;
}

.button img {
  height: 15px;
  width: 24px;
  margin-left: 10px;
}

.button:hover {
  background: rgba(255, 255, 255, 0.3);
  padding: 12px 30px;
}

header {
  position: fixed;
  height: 50px;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c7c7c7;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header div .logo_header {
  height: 26px;
  margin: 0 15px;
}

header div #header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header div #header-links a {
  color: black;
  text-decoration: none;
  margin: 0 16px;
  padding: 17px 0;
  font-size: 1em;
  line-height: 1;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: white 0px solid;
  border-top: white 0px solid;
}

header div #header-links :hover {
  padding: 13px 0;
  border-bottom: #0400f5 4px solid;
  border-top: white 4px solid;
  color: #0400f5;
}

header div #design-brief {
  border-left: 1px solid #c7c7c7;
  padding: 17px;
  width: 140px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 1em;
  line-height: 1;
  font-style: italic;
}

header div #design-brief:hover {
  background-color: rgba(4, 0, 245, 0.15);
}

.lander {
  margin-top: 50px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 0;
}

.lander .text {
  color: white;
  padding: 80px;
}

.lander .text .t {
  font-size: 9em;
  font-weight: 300;
}

.lander .text .p {
  font-size: 1.1em;
  font-weight: 400;
  width: 600px;
  margin-bottom: 36px;
}

.lander .text .p b {
  font-size: 1.1em;
  font-weight: 700;
}

.landerbg {
  top: 50px;
  background-image: url("../img/image1.jfif");
  background-size: cover;
  background-position: right center;
  height: 540px;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.content {
  width: 100%;
}

.content .section {
  padding: 60px calc((100vw - 1200px) * .5) 84px calc((100vw - 1200px) * .5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .section .t {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 10px;
}

.content .section .p {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.content .section .i {
  font-size: 2em;
  color: #0400f5;
  font-weight: 700;
  padding-bottom: 0px;
  border-bottom: none;
}

.content .section .u {
  opacity: .7;
  font-style: italic;
  padding: 6px 0;
  border-bottom: none;
}

.content .section .l {
  margin-bottom: 40px;
  padding-bottom: 0px;
  border-bottom: none;
}

.content .section a {
  color: #0400f5;
  background-color: none;
  padding: 12px 24px;
  text-decoration: none;
  border: 3px solid #0400f5;
}

.content .section a:hover {
  background-color: #0400f5;
  color: white;
}

.content .section img {
  width: 28vw;
  margin-right: 40px;
  border-radius: 14px;
}

.content #section2 {
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content #section2 .p {
  margin-bottom: 16px;
  padding-bottom: 30px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.5);
  width: 400px;
  text-align: center;
}

.content #section2 .i {
  padding-bottom: 4px;
}

.content #section2 a {
  margin: 0 132.775px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

footer .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 300px;
  text-align: center;
}

footer .col1 .p {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
  width: 70%;
}

footer .col1 .t {
  color: white;
  font-size: 3em;
  font-weight: 400;
  width: 70%;
}

footer .col1 .sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  background-image: url("../img/button_culture.jpg");
  background-size: cover;
  text-decoration: none;
}

footer .col1 .sec2 {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/button_talk.jpg");
  background-size: cover;
  text-decoration: none;
}

footer .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 400px;
}

footer .col2 .sec1 {
  width: 40vw;
  background-image: url("../img/footer_image.jpg");
  background-size: cover;
  background-position: center center;
}

footer .col2 .sec2 {
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 80px;
}

footer .col2 .sec2 .a {
  margin-right: 80px;
}

footer .col2 .sec2 .c {
  margin-left: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .col2 .sec2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .col2 .sec2 div .t {
  color: white;
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 8px;
}

footer .col2 .sec2 div li {
  list-style: none;
  padding-bottom: 2px;
}

footer .col2 .sec2 div li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

footer .col2 .sec2 div img {
  height: 102.25px;
  width: 250px;
  margin-bottom: 20px;
}

footer .col2 .sec2 div p {
  color: white;
  font-weight: 300;
}

.bottom {
  width: 100vw;
  color: white;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */