@import "master";

@import "master";

@media screen and (min-width: 1050px) {
    header {
        position: fixed;
        height: 60px;
        background-color: $light;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $dark;
        z-index: 3;

        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            .logo_header {
                height: 26px;
                margin: 0 18px;
            }

            #header-links {
                display: flex;
                flex-direction: row;

                a {
                    color: $dark;
                    text-decoration: none;
                    margin: 0 20px;
                    padding: 22px 0;
                    font-size: 1em;
                    line-height: 1;
                    font-weight: 400;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-bottom: $light 0px solid;
                    border-top: $light 0px solid;
                }
                :hover {
                    padding: 18px 0;
                    border-bottom: $dark 4px solid;
                    border-top: $light 4px solid;
                    color: $dark;
                }
            }
            #design-brief {
                border-left: 1px solid $dark;
                padding: 22px;
                width: 140px;
                text-align: center;
                color: $dark;
                text-decoration: none;
                font-size: 1em;
                line-height: 1;
                font-style: italic;

                &:hover {
                    background: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
    .menu-icon {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    header {
        position: fixed;
        height: 60px;
        top: 0;
        background-color: $light;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $dark;
        z-index: 3;
    
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
    
            .logo_header {
                height: 26px;
                margin: 0 18px;
            }
    
            #header-links {
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to bottom, $light,$mid);
                height: 100%;
                width: 100%;
                top: 0;
                right: -101vw;
                z-index: 5;
                opacity: 1;
                transition-duration: .6s;
                transition-timing-function: ease-in-out;
                border-left: 1px solid $dark;
        
                a {
                    font-size: 2em;
                    width: 100%;
                    height: calc(100vh / 3);
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid $dark;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            #design-brief {
                display: none;
            }
        }
    }
    .menu-icon {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        height: 60px;
        border-left: 1px solid $dark;
        border-bottom: 1px solid $dark;
        img {
            height: 30px;
            width: 30px;
            padding: 15px;
        }
    }
    #checkbox {
        position: fixed;
        top: -20px;
    }
    .checkbox:checked ~ #header-links {
        opacity: 1;
        right: 0;
    }
    .checkbox:checked ~ .menuButton {
        position: fixed;
        z-index: 101;
    }
}