$bg: rgb(162, 164, 162);
$dark: #232423;
$accent: #ef4557;

html {
    background: $bg;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
}
* {
    font-family: "GoodSans";
}
.transition {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}