$bg: #D6DDFF;
$dark: #232423;
$accent: #1C5CDE;

html {
    background: $bg;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
* {
    font-family: "GoodSans";
    text-decoration: none;
    font-weight: 450;
}
.transition {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.image {
    border-radius: 22px;
    box-shadow: 
        9px 9px 20px rgba(85,139,255,.4),
        -9px -9px 20px rgba(255,255,255,.9);
}
::-webkit-scrollbar {
    width: 10px;
    background: $accent;
}
::-webkit-scrollbar-thumb {
    background: #001287;
}
iframe {
    width: 100vw;
    height: 450px;
}
.button {
    color: $bg;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    background: $accent;
    border: 2px solid $accent;
    border-radius: 0 10px 0 10px;
    &:hover {
        background: none;
        color: $accent;
    }
}
.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $accent;
    color: $bg;
    padding-bottom: 10px;
    font-size: 14px;
}
footer {
    width: 100%;
    padding: 80px 80px;
    box-sizing: border-box;
    background: $accent;
    color: $bg;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    .col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        img {
            height: 60px;
            margin-bottom: 20px;
        }
        p {
            line-height: 1.618;
        }
        h2 {
            margin: 0 0 20px 0;
        }
        a {
            color: $bg;
            transition-duration: .4s;
            line-height: 1.618;
            &:hover {
                opacity: .5;
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    footer {
        width: 100%;
        padding: 80px 40px;
        box-sizing: border-box;
        background: $accent;
        color: $bg;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        .col {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            img {
                height: 60px;
                margin-bottom: 20px;
            }
            p {
                line-height: 1.618;
            }
            h2 {
                margin: 0 0 20px 0;
            }
            a {
                color: $bg;
                transition-duration: .4s;
                line-height: 1.618;
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    footer {
        width: 100%;
        padding: 80px 40px;
        background: $accent;
        color: $bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        .col {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 40px;
            img {
                height: 60px;
                margin-bottom: 20px;
            }
            p {
                line-height: 1.618;
            }
            h2 {
                margin: 0 0 20px 0;
            }
            a {
                color: $bg;
                transition-duration: .4s;
                line-height: 1.618;
                &:hover {
                    opacity: .5;
                }
            }
            &:last-child {
                margin: 0 0 -20px 0;
            }
        }
    }
}