$bg: #D6DDFF;
$dark: #232423;
$accent: #1C5CDE;

html {
    background: $bg;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
}
* {
    font-family: "GoodSans";
    text-decoration: none;
    font-weight: 450;
}
.transition {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.image {
    border-radius: 22px;
    box-shadow: 
        10px 7px 20px rgba(85,139,255,.4),
        -10px -7px 20px rgba(255,255,255,.9);
}
::-webkit-scrollbar {
    width: 16px;
    background: $accent;
}
::-webkit-scrollbar-thumb {
    background: #001287;
    &:hover {
        cursor: pointer;
    }
}