/*
IMPORT FONTS
*/
@font-face {
  font-family: "Spezia-Medium";
  src: url("Spezia-Medium.woff2") format("woff2"), url("Spezia-Medium.woff") format("woff"), url("Spezia-Medium.eot") format("embedded-opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Spezia-SemiBold";
  src: url("Spezia-SemiBold.woff2") format("woff2"), url("Spezia-SemiBold.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

html {
  background: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: "Spezia-Medium";
  text-decoration: none;
  font-weight: 450;
  margin: 0;
  padding: 0;
  color: black;
}

.transition {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

::-webkit-scrollbar {
  display: none;
  width: 10px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

iframe {
  width: 100vw;
  height: 450px;
}

.button {
  color: white;
  font-size: 1em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 35px;
  background: black;
  border: 2px solid black;
}

.button:hover {
  background: none;
  color: black;
}

.bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: white;
  padding-bottom: 10px;
  font-size: 14px;
}

footer {
  width: 100%;
  padding: 80px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  z-index: 11;
}

footer .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .col img {
  height: 60px;
  margin-bottom: 20px;
}

footer .col p {
  color: white;
  line-height: 1.618;
}

footer .col h2 {
  color: white;
  margin: 0 0 20px 0;
}

footer .col a {
  color: white;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  line-height: 1.618;
}

footer .col a:hover {
  opacity: .5;
}

@media screen and (max-width: 1199px) {
  footer {
    width: 100%;
    padding: 80px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: black;
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    z-index: 11;
  }
  footer .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .col img {
    height: 60px;
    margin-bottom: 20px;
  }
  footer .col p {
    line-height: 1.618;
  }
  footer .col h2 {
    margin: 0 0 20px 0;
  }
  footer .col a {
    color: white;
    -webkit-transition-duration: .4s;
            transition-duration: .4s;
    line-height: 1.618;
  }
  footer .col a:hover {
    opacity: .5;
  }
}

@media screen and (max-width: 900px) {
  footer {
    width: 100%;
    padding: 80px 40px;
    background: black;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 11;
  }
  footer .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  footer .col img {
    height: 60px;
    margin-bottom: 20px;
  }
  footer .col p {
    line-height: 1.618;
  }
  footer .col h2 {
    margin: 0 0 20px 0;
  }
  footer .col a {
    color: white;
    -webkit-transition-duration: .4s;
            transition-duration: .4s;
    line-height: 1.618;
  }
  footer .col a:hover {
    opacity: .5;
  }
  footer .col:last-child {
    margin: 0 0 -20px 0;
  }
}
/*# sourceMappingURL=styles.css.map */