.lander {
  height: 100vh;
  width: 20%;
  padding: 40px 40px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.lander #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: static;
  top: 40px;
}

.lander #links a {
  color: black;
  font-size: 1em;
  line-height: 1.618;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.lander #links a:hover {
  color: #3725d3;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  margin: 160px 0 160px 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 80px;
}

.top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 200px 0 200px 20%;
}

.top .text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top .text h1 {
  font-size: 8em;
  font-weight: 400;
  margin: 0 0 60px 0;
  line-height: 1;
}

.top .text h2 {
  margin-bottom: 10px;
}

.top .text .p {
  font-size: 2em;
  line-height: 1.5;
  width: 80%;
  margin-left: 20%;
}

.top .text .p b {
  font-weight: 700;
}

.banner {
  width: calc(80% - 80px);
  margin-left: 20%;
  padding: 0;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 60px;
}

.section .text {
  color: #3725d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  text-align: left;
}

.section .text h2 {
  font-size: 4em;
  margin: 0 0 40px 0;
}

.section .text p {
  line-height: 1.618;
  font-size: 1em;
  margin: 0;
}

.section .text h3 {
  font-size: 1.5em;
  line-height: 1.618;
  margin: 0;
  margin-bottom: 40px;
}

.big .text p {
  font-size: 1.2em;
}

.section2 .text {
  max-width: 1000px;
}

.section2 .text h2 {
  font-size: 5em;
  margin: 0 0 40px 0;
}

.section2 .text h3 {
  font-size: 2em;
  margin-bottom: 14px;
}

.section2 .text p {
  line-height: 1.618;
  font-size: 1em;
  margin: 0;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .lander {
    display: none;
  }
  section {
    width: calc(100vw - 160px);
    margin: 160px 80px;
    padding: 0;
  }
  .top {
    margin: 200px 80px;
  }
  .banner {
    width: calc(100% - 160px);
    margin-left: 80px;
  }
  .top .row2 {
    padding-right: 0;
  }
  .top .text h1 {
    font-size: 6em;
  }
  .top .text p {
    font-size: 1.5em;
  }
  .section2 .col:last-child {
    padding-right: 0;
  }
  .section3 {
    padding-right: 0;
  }
}

@media screen and (max-width: 800px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: calc(100vw - 60px);
    margin: 160px 30px;
  }
  .top {
    margin: 200px 30px;
  }
  .top .text h1 {
    font-size: 13vw;
    font-weight: 400;
    margin: 0 0 40px 0;
  }
  .top .text h2 {
    margin-bottom: 10px;
  }
  .top .text .p {
    font-size: 1.5em;
    width: 100%;
    margin-left: 0;
  }
  .banner {
    width: calc(100% - 60px);
    margin-left: 30px;
  }
  .section .text h2 {
    font-size: 2em;
  }
  .section2 .text {
    max-width: 1000px;
  }
  .section2 .text h2 {
    font-size: 3em;
    margin: 0 0 40px 0;
  }
  .section2 .text h3 {
    font-size: 1.5em;
    margin-bottom: 14px;
  }
  .section2 .text p {
    line-height: 1.618;
    font-size: 1em;
    margin: 0;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=submissions.css.map */